In [ ]:
alice = open("alice.txt")
from string import punctuation
document_read = alice.read().lower()
for sinal in punctuation:
  document_read = document_read.replace(sinal,"")
document_split = document_read.split()

In [ ]:
totalPalavras= len(document_split)
print(totalPalavras)

2129

In [ ]:
totalPalavrasUnica = {}
for i in document_split:
  if not i in totalPalavrasUnica:
    totalPalavrasUnica[i] = 1 
  else:
    totalPalavrasUnica[i] +=1
print(len(totalPalavrasUnica))
print(totalPalavrasUnica)

606
{'alice': 27, 'was': 53, 'beginning': 1, 'to': 73, 'get': 7, 'very': 22, 'tired': 2, 'of': 41, 'sitting': 1, 'by': 6, 'her': 26, 'sister': 2, 'on': 15, 'the': 88, 'bank': 1, 'and': 64, 'having': 3, 'nothing': 7, 'do': 9, 'once': 4, 'or': 12, 'twice': 1, 'she': 78, 'had': 20, 'peeped': 1, 'into': 9, 'book': 3, 'reading': 1, 'but': 21, 'it': 62, 'no': 11, 'pictures': 3, 'conversations': 1, 'in': 26, 'what': 10, 'is': 6, 'use': 5, 'a': 52, 'thought': 8, 'without': 2, 'conversation': 1, 'so': 13, 'considering': 2, 'own': 2, 'mind': 2, 'as': 14, 'well': 7, 'could': 8, 'for': 21, 'hot': 2, 'day': 1, 'made': 2, 'feel': 2, 'sleepy': 2, 'stupid': 2, 'whether': 2, 'pleasure': 1, 'making': 1, 'daisychain': 1, 'would': 7, 'be': 13, 'worth': 1, 'trouble': 1, 'getting': 3, 'up': 12, 'picking': 1, 'daisies': 1, 'when': 10, 'suddenly': 5, 'white': 2, 'rabbit': 6, 'with': 11, 'pink': 1, 'eyes': 2, 'ran': 2, 'close': 2, 'there': 10, 'remarkable': 1, 'that': 25, 'nor': 1, 'did': 3, 'think': 11, 'much': 6, 'out': 11, 'way': 11, 'hear': 2, 'say': 6, 'itself': 1, 'oh': 4, 'dear': 3, 'i': 29, 'shall': 5, 'late': 2, 'over': 3, 'afterwards': 1, 'occurred': 1, 'ought': 1, 'have': 2, 'wondered': 1, 'at': 11, 'this': 13, 'time': 8, 'all': 10, 'seemed': 3, 'quite': 4, 'natural': 1, 'actually': 1, 'took': 2, 'watch': 2, 'its': 4, 'waistcoat': 1, 'pocket': 1, 'looked': 4, 'then': 5, 'hurried': 1, 'started': 1, 'feet': 2, 'flashed': 1, 'across': 2, 'never': 5, 'before': 5, 'seen': 3, 'either': 6, 'waistcoatpocket': 1, 'take': 1, 'burning': 1, 'curiosity': 1, 'field': 1, 'after': 5, 'fortunately': 1, 'just': 3, 'see': 10, 'pop': 1, 'down': 22, 'large': 3, 'rabbithole': 2, 'under': 3, 'hedge': 1, 'another': 3, 'moment': 4, 'went': 7, 'how': 9, 'world': 1, 'again': 4, 'straight': 1, 'like': 11, 'tunnel': 1, 'some': 1, 'dipped': 1, 'not': 16, 'about': 8, 'stopping': 1, 'herself': 13, 'found': 7, 'falling': 2, 'deep': 2, 'fell': 4, 'slowly': 1, 'plenty': 1, 'look': 3, 'wonder': 6, 'going': 6, 'happen': 2, 'next': 1, 'first': 4, 'tried': 5, 'make': 2, 'coming': 1, 'too': 5, 'dark': 3, 'anything': 2, 'sides': 1, 'noticed': 2, 'they': 4, 'were': 8, 'filled': 1, 'cupboards': 2, 'bookshelves': 1, 'here': 4, 'saw': 2, 'maps': 1, 'hung': 1, 'upon': 4, 'pegs': 1, 'jar': 2, 'from': 3, 'one': 9, 'shelves': 1, 'passed': 1, 'labelled': 1, 'orange': 1, 'marmalade': 1, 'great': 2, 'disappointment': 1, 'empty': 1, 'drop': 1, 'fear': 1, 'killing': 1, 'somebody': 1, 'managed': 1, 'put': 2, 'past': 1, 'such': 3, 'fall': 4, 'tumbling': 1, 'stairs': 1, 'brave': 1, 'theyll': 2, 'me': 12, 'home': 1, 'why': 2, 'wouldnt': 1, 'even': 3, 'if': 10, 'off': 5, 'top': 2, 'house': 1, 'which': 9, 'likely': 1, 'true': 1, 'come': 3, 'an': 2, 'end': 2, 'many': 2, 'miles': 2, 'ive': 2, 'fallen': 1, 'said': 8, 'aloud': 1, 'must': 2, 'somewhere': 2, 'near': 1, 'centre': 1, 'earth': 2, 'let': 1, 'four': 1, 'thousand': 1, 'you': 18, 'learnt': 1, 'several': 2, 'things': 5, 'sort': 3, 'lessons': 1, 'schoolroom': 1, 'though': 2, 'good': 3, 'opportunity': 1, 'showing': 1, 'knowledge': 1, 'listen': 1, 'still': 2, 'practice': 1, 'yes': 1, 'thats': 2, 'right': 4, 'distancebut': 1, 'latitude': 2, 'longitude': 2, 'got': 4, 'idea': 1, 'nice': 3, 'grand': 1, 'words': 3, 'presently': 1, 'began': 3, 'through': 6, 'funny': 1, 'itll': 2, 'seem': 1, 'among': 2, 'people': 4, 'walk': 1, 'their': 2, 'heads': 1, 'downward': 1, 'antipathies': 1, 'rather': 3, 'glad': 1, 'listening': 1, 'didnt': 2, 'sound': 1, 'word': 1, 'ask': 2, 'them': 3, 'name': 1, 'country': 1, 'know': 4, 'please': 1, 'maam': 1, 'new': 1, 'zealand': 1, 'australia': 1, 'curtsey': 1, 'spokefancy': 1, 'curtseying': 1, 'youre': 1, 'air': 2, 'manage': 1, 'ignorant': 1, 'little': 15, 'girl': 1, 'shell': 1, 'asking': 1, 'perhaps': 1, 'written': 1, 'else': 1, 'soon': 3, 'talking': 1, 'dinahll': 1, 'miss': 1, 'tonight': 1, 'should': 2, 'dinah': 4, 'cat': 1, 'hope': 1, 'remember': 3, 'saucer': 1, 'milk': 1, 'teatime': 1, 'my': 5, 'wish': 2, 'are': 1, 'mice': 1, 'im': 1, 'afraid': 1, 'might': 4, 'catch': 1, 'bat': 2, 'mouse': 1, 'cats': 4, 'eat': 7, 'bats': 4, 'saying': 2, 'dreamy': 1, 'sometimes': 2, 'couldnt': 1, 'answer': 1, 'question': 1, 'matter': 1, 'felt': 2, 'dozing': 1, 'begun': 2, 'dream': 1, 'walking': 1, 'hand': 3, 'earnestly': 1, 'now': 4, 'tell': 1, 'truth': 1, 'ever': 4, 'thump': 2, 'came': 3, 'heap': 1, 'sticks': 1, 'dry': 1, 'leaves': 1, 'bit': 2, 'hurt': 1, 'jumped': 1, 'overhead': 1, 'long': 3, 'passage': 3, 'sight': 1, 'hurrying': 1, 'lost': 1, 'away': 1, 'wind': 1, 'turned': 2, 'corner': 2, 'ears': 2, 'whiskers': 1, 'behind': 2, 'longer': 1, 'low': 2, 'hall': 4, 'lit': 1, 'row': 1, 'lamps': 1, 'hanging': 1, 'roof': 1, 'doors': 2, 'round': 3, 'locked': 1, 'been': 1, 'side': 1, 'other': 2, 'trying': 3, 'every': 1, 'door': 7, 'walked': 1, 'sadly': 1, 'middle': 1, 'wondering': 1, 'threelegged': 1, 'table': 5, 'solid': 1, 'glass': 3, 'except': 1, 'tiny': 1, 'golden': 3, 'key': 6, 'alices': 1, 'belong': 1, 'alas': 2, 'locks': 1, 'small': 3, 'any': 4, 'rate': 2, 'open': 1, 'however': 3, 'second': 1, 'curtain': 1, 'fifteen': 1, 'inches': 2, 'high': 2, 'lock': 1, 'delight': 1, 'fitted': 1, 'opened': 2, 'led': 1, 'larger': 2, 'than': 1, 'rathole': 1, 'knelt': 1, 'along': 1, 'loveliest': 1, 'garden': 4, 'longed': 1, 'wander': 1, 'those': 2, 'beds': 1, 'bright': 1, 'flowers': 1, 'cool': 1, 'fountains': 1, 'head': 3, 'doorway': 1, 'go': 2, 'poor': 4, 'shoulders': 1, 'shut': 1, 'telescope': 2, 'only': 2, 'begin': 1, 'outoftheway': 2, 'happened': 2, 'lately': 1, 'few': 2, 'indeed': 2, 'really': 1, 'impossible': 1, 'waiting': 1, 'back': 2, 'half': 1, 'hoping': 1, 'find': 2, 'rules': 2, 'shutting': 2, 'telescopes': 1, 'bottle': 4, 'certainly': 1, 'neck': 1, 'paper': 1, 'label': 1, 'drink': 3, 'beautifully': 2, 'printed': 1, 'letters': 1, 'wise': 1, 'hurry': 1, 'ill': 3, 'marked': 4, 'poison': 3, 'read': 1, 'histories': 1, 'children': 1, 'who': 1, 'burnt': 1, 'eaten': 1, 'wild': 1, 'beasts': 1, 'unpleasant': 1, 'because': 1, 'simple': 1, 'friends': 1, 'taught': 1, 'redhot': 1, 'poker': 1, 'will': 1, 'burn': 1, 'hold': 1, 'cut': 1, 'your': 1, 'finger': 1, 'deeply': 1, 'knife': 1, 'usually': 1, 'bleeds': 1, 'forgotten': 2, 'almost': 1, 'certain': 1, 'disagree': 1, 'sooner': 1, 'later': 1, 'ventured': 1, 'taste': 1, 'finding': 2, 'fact': 1, 'mixed': 1, 'flavour': 1, 'cherrytart': 1, 'custard': 1, 'pineapple': 1, 'roast': 1, 'turkey': 1, 'toffee': 1, 'buttered': 1, 'toast': 1, 'finished': 1, 'curious': 2, 'feeling': 1, 'ten': 1, 'face': 1, 'brightened': 1, 'size': 2, 'lovely': 1, 'waited': 1, 'minutes': 1, 'shrink': 1, 'further': 1, 'nervous': 1, 'altogether': 1, 'candle': 3, 'fancy': 1, 'flame': 1, 'blown': 1, 'thing': 2, 'while': 1, 'more': 1, 'decided': 1, 'possibly': 1, 'reach': 2, 'plainly': 1, 'best': 1, 'climb': 1, 'legs': 1, 'slippery': 1, 'sat': 1, 'cried': 1, 'theres': 2, 'crying': 1, 'sharply': 1, 'advise': 1, 'leave': 1, 'minute': 1, 'generally': 2, 'gave': 1, 'advice': 1, 'seldom': 1, 'followed': 1, 'scolded': 1, 'severely': 1, 'bring': 1, 'tears': 1, 'remembered': 1, 'box': 2, 'cheated': 1, 'game': 1, 'croquet': 1, 'playing': 1, 'against': 1, 'child': 1, 'fond': 1, 'pretending': 1, 'two': 2, 'pretend': 1, 'hardly': 1, 'enough': 1, 'left': 1, 'respectable': 1, 'person': 1, 'eye': 1, 'lying': 1, 'cake': 2, 'currants': 1, 'makes': 2, 'grow': 2, 'can': 2, 'smaller': 1, 'creep': 1, 'dont': 1, 'care': 1, 'happens': 2, 'ate': 1, 'anxiously': 1, 'holding': 1, 'growing': 1, 'surprised': 1, 'remained': 1, 'same': 1, 'sure': 1, 'eats': 1, 'expecting': 1, 'dull': 1, 'life': 1, 'common': 1}

In [ ]:

words = sorted(totalPalavrasUnica.items(), key=lambda x:x[1], reverse=True)
stop_words = set()
for i in words[0:3]:
  stop_words.add(i)
for i in words[-4:-1]:
  stop_words.add(i)

[('expecting', 1), ('dull', 1), ('life', 1)]

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
cup = pd.read_csv('WorldCupMatches.csv')
cup.head(5)

   Year              Datetime  ... Home Team Initials Away Team Initials
0  1930  13 Jul 1930 - 15:00   ...                FRA                MEX
1  1930  13 Jul 1930 - 15:00   ...                USA                BEL
2  1930  14 Jul 1930 - 12:45   ...                YUG                BRA
3  1930  14 Jul 1930 - 14:50   ...                ROU                PER
4  1930  15 Jul 1930 - 16:00   ...                ARG                FRA

[5 rows x 20 columns]

In [ ]:
colunas = ['Year', 'Home Team Name', 'Home Team Goals', 'Away Team Goals', 'Away Team Name', 'Half-time Home Goals', 'Half-time Away Goals']
cupLimpo = cup[colunas]
#cupLimpo = pd.DataFrame(data=cup, columns=['Year', 'Home Team Name', 'Home Team Goals', 'Away Team Goals', 'Away Team Name', 'Half-time Home Goals', 'Half-time Away Goals'])
cupLimpo.head(5)

Home= cupLimpo['Home Team Goals']
Away = cupLimpo['Away Team Goals']

cupLimpo['Home Team Wins'] = cupLimpo['Home Team Goals'] >= cupLimpo['Away Team Goals']

#cupLimpo['Home Team Wins'] = np.where(cupLimpo['Home Team Goals'] >= cupLimpo['Away Team Goals'],True, False)
cupLimpo.head(5)

cupLimpo['Goals Dif'] = (cupLimpo['Home Team Goals'] -cupLimpo['Away Team Goals']).abs()
cupLimpo.head(5)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   Year Home Team Name  ...  Home Team Wins  Goals Dif
0  1930         France  ...            True          3
1  1930            USA  ...            True          3
2  1930     Yugoslavia  ...            True          1
3  1930        Romania  ...            True          2
4  1930      Argentina  ...            True          1

[5 rows x 9 columns]